.description {
    margin: 64px auto 0;
    padding: 0 16px;
    max-width: 984px;
}

@media (min-width: 768px) {
    .description {
        margin-top: 88px;
        padding: 0 24px;
    }
}

@media (min-width: 1024px) {
    .description {
        margin-top: 92px;
        padding: 0 48px;
    }
}
