.header {
    background-color: #2A2C2F;
    padding: 16px 16px 0;
    box-sizing: content-box;
}

@media (min-width: 768px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 28px 48px 0;
    }
}
