.header__language-item {
   font-family: 'Inter';
   font-weight: 400;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
}

.header__language-item:hover {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .header__language-item {
        font-size: 24px;
        line-height: 28px;
    }
}
