.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 288px;
}

@media (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        font-size: 96px;
        line-height: 100px;
    }
}
