.cover {
    margin: 66px auto 0;
    position: relative;
    max-width: 1184px;
}

@media (min-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media (min-width: 1024px) {
    .cover {
        margin-top: 92px;
    }
}
